.vcompany {
	margin-top: 150px;
	@include adaptiveValue("margin-bottom", 120, 90);
	/* .delivery__container */
	/* .delivery__title */
	&__title {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	/* .delivery__img */
	&__img {
		border-radius: 6px;
		margin-bottom: 50px;
		
		}
	/* .delivery__items */
	&__items {
		font-weight: 400;
		line-height: 130%;
		letter-spacing: -0.02em;
	}
	/* .delivery__subtitle */
	&__subtitle {
		font-size: 20px;
		&:not(:last-child) {
		margin-bottom: 20px;
	}
	}
	&-list{
		margin-left: rem(20);
	}
	&__item{
		list-style: disc;
		&:not(:last-child) {
		margin-bottom: 20px;
		
	}
	}
}